@import "tailwindcss";

:root {
  --purple-8001: #393A4B;
  --purple-7001: #4D5067;
  --purple-6001: #5B5E7E;
  --purple-3001: #C8CBE7;
  --purple-1001: #E3E4F1;

  --gray-6001: #9495A5;
  --gray-3001: #D1D2DA;
  --gray-501: #FAFAFA;

  --navy-9501: #171823;
  --navy-9001: #25273D;
  --navy-8501: #494C6B;

  --blue-5001: #3A7CFD;

  --gradient-1: linear-gradient(90deg, rgba(85, 221, 255, 1) 0%, rgba(192, 88, 243, 1) 100%);;
  --gradient-2:  linear-gradient(90deg,rgba(55, 16, 189, 1) 0%, rgba(164, 35, 149, 1) 100%);
}

.light-mode {
  background-color: var(--gray-501);
}

.dark-mode {
  background-color: var(--navy-9501);
}
/* 
html {
  font-size: 10px;
} */

.preset-1 {
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: -0.25px;
  font-weight: 400;
}

.preset-2-bold {
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.25px;
  font-weight: 700;
}

.preset-2-regular {
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: -0.25px;
  font-weight: 400;
}

.preset-3 {
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -0.25px;
  font-weight: 400;
}